/* 头部的标题和导航 */
.main-header {
    font-size: 16px;
    background-color: #f2f2f2;
    overflow: hidden;
}
.main-header h1 {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    height: 64px;
    max-width: 723px;
    margin: 10px auto;
    padding: 3px 0 3px 77px;
    font-weight: 200;
    background: center left url("picture.png") no-repeat;
    background-size: contain;
}
.main-header h1 .main-title {
    font-size: 16px;
    line-height: 20px;
    color: #333;
}
.main-header h1 .subtitle {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}
.main-header .main-nav {
    max-width: 800px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -400px;
}
.main-header .main-nav button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 30px;
    padding: 14px 5px;
    background-color: #006a00;
    -webkit-background-clip: content-box;
       -moz-background-clip: content-box;
            background-clip: content-box;
    box-sizing: border-box;
    border: none;
}
.main-header .main-nav button:before,
.main-header .main-nav button:after {
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #006a00;
    content: "\200B";
}
.main-header .main-nav button:before {
    top: 6px;
}
.main-header .main-nav button:after {
    bottom: 6px;
}
.main-header .main-nav menu {
    display: none;
}
.main-header .main-nav li {

}
/* 小于 500 像素时 调整样式为移动端 */
@media screen and (max-width: 500px) {
    .main-header h1 .main-title {
        line-height: 64px;
    }
    .main-header h1 .subtitle {
        display: none;
    }
}
/* 小于800时需调整导航方案 */
@media screen and (max-width: 800px) {
    .main-header .main-nav {
        right: 10px;
        margin-left: 0;
    }
}